In [0]:
"""
Step 1: Remove Duplicates
SELECT DISTINCT * FROOM <Table>
"""

In [0]:
"""
Step 2: TRIM white spaces
SELECT TRIM(<ColumnName>) FROM <Table>
"""

In [0]:
"""
Step3: Remove invalid Values

SELECT * FROM <Table> WHERE <ColumnName> IS NOT NULL AND <ColumnName> <> ''
"""

In [0]:
"""
Step4: Standardize Formats
SELECT FORMAT(<DateColumnName>, ""yyyy-MM-dd") AS <CLEAN_DATE> FROM <Table>
"""

In [0]:
"""
Step5: Handle Null Values
SELECT COALESCE(<ColumnName>, <"DefaultValue">) AS <ColumnName> FROM <Table>

"""

In [0]:
"""
Step6: Handling Inconsistent Cases
SELECT LOWER(<ColumnName>) AS <LoweCase_ColumnName> FROM <Table>
"""

In [0]:
"""
Step7: Correct Data Types
SELECT CAST(<ColumnName> AS <DataType>) AS <ColumnName> FROM <Table>
SELECT CAST(AGE AS INT) AS AGE FROM Employees
"""

In [0]:
    """
    Remove Invalid Characters
    UPDATE <Table> SET <ColumnName> = REPLACE(<ColumnName>, <InvalidCharacter>,'')
    UPDATE Employees SET Address = REPLACE(Address,'#','')
    """